<div class="container" fxLayout="column" fxLayoutGap="10px">
<!--flexlayout is an angular conponent it allows fxlayout attribute-->
  <!--another angular component is Angular mat-list to display items in the list-->
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="dishes" [@expand]><!--shown if the dishes not null-->
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight> <!--(click) = "onSelect(dish)" Define the click event ,corresponding Handler event is called and specific  dish information is passed as a parameter then implemeted to the grid-->
      <img height="200px" src="{{baseURL + dish.image}}" alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxFlex [hidden]="dishes || errMess"><!-- if the disheslist is  null or the error meg is not null means that spinner hidden-->
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>  
